/* Master Styles */


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation Bar Styles */

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.navbar-wrapper img {
    width: 250px;
    height: auto;
}

.navbar-anchor-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.navbar-anchor-wrapper a {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    text-decoration: underline transparent;
}

.navbar-button-wrapper {
    background: rgb(234, 95, 2);
    padding: 10px;
}

.navbar-button-wrapper a {
    color: white;
    text-decoration: underline transparent;
    font-weight: 600;
}

/* Title Content Styles */

.title-wrapper {
    background-image: url("images/title-background-img.webp");
    background-repeat: no-repeat;
    height: 650px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.title-text-wrapper {
    width: 600px;
    padding-top: 50px;
}

.title-text-wrapper p {
    color: white;
}

.title-subtitle-text-wrapper {
    width: 500px;
}

.title-logos-wrapper {
    display: flex;
    padding-top: 25px;
}

.title-logo-wrapper {
    padding-right: 20px;
}

.title-company-logos-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-company-logos-wrapper img {
    transform: scale(0.75);
}

/* DESIGN STYLES */

.design-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.design-text-wrapper {
    width: 600px;
    align-self: center;
}

.design-button-wrapper {
    padding-top: 25px;
}

.design-button-wrapper a {
    background:rgb(234, 95, 2);
    color: white;
    font-weight: 600;
    text-decoration: underline transparent;
    padding: 15px 30px;
}

.design-img-wrapper {
    width: 600px;
}

.design-img-wrapper img {
    width: 600px;
    height: auto;
}

/* TRAFFIC STYLES */

.traffic-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.traffic-img-wrapper {
    width: 600px;
}

.traffic-img-wrapper img {
    width: 600px;
    height: auto;
}

.traffic-text-wrapper {
    width: 600px;
    align-self: center;
}

.traffic-button-wrapper {
    padding-top: 25px;
}

.traffic-button-wrapper a {
    background:rgb(234, 95, 2);
    color: white;
    font-weight: 600;
    text-decoration: underline transparent;
    padding: 15px 30px;
}

/* GROWTH STYLES */

.growth-wrapper {
    background: linear-gradient(to right, rgb(54, 160, 247), rgb(2, 132, 123));
    height: 550px;
    margin-top: 75px;
    padding-bottom: 75px;
}

.growth-text-wrapper {
    padding-top: 100px;
    text-align: center;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}

.growth-button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.growth-button-wrapper a {
    background: white;
    padding: 15px 30px;
    color: black;
    font-weight: 600;
    text-decoration: underline transparent;
}
